.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 5px;
    span{
        width: 25px;
        height: 25px;
    }
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid black;
    transition: all .2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 6.5px;
    fill: none;
    stroke: green;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all .3s ease;
    transition-delay: .1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: .2s;
}

.cbx span:last-child {
    margin-left: 8px;
}

.cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: transparent;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.cbx:hover span:first-child {
    border-color: black;
}

.inp-cbx:checked + .cbx span:first-child {
    border-color: transparent;
    background: transparent;
    animation: check .6s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all .6s ease;
}

.inp-cbx:checked + .cbx span:last-child {
    color: black;
    transition: all .3s ease;
}

.inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all .3s ease;
}

@keyframes check {
    50% {
        transform: scale(1.2);
    }
}

