
.login-header{

    h5,h4{
        font-size: 30px !important;
    }
}
.login-container {
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding: 0 !important;
    textarea,
    input[type='text'], input[type='email'], input[type='phone'], input[type='password'] {
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: none;

        width: 100%;
        height: 100%;
        background: inherit;
        text-overflow: ellipsis ;
    }

}
