h5, h4{
    font-size: 24px !important;
    font-family: $dashboard-h;
    font-weight: 500;
    font-style: normal;
}

.dashboard p{
    font-family: $dashboard-p;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
